// Page load fade in
body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.cloudImageContainer,
.cloudImageContainerTwo {
    animation: cloudAnimation linear 380s;
}

.arrowImageContainer {
    animation: arrowAnimation linear 6s infinite;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.revealLeft {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.revealLeft.active {
    transform: translateX(0px);
    opacity: 1;
}

.revealRight {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease;
}

.revealRight.active {
    transform: translateX(0px);
    opacity: 1;
    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cloudAnimation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100vw);
    }
}

@keyframes arrowAnimation {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(0px);
    }
} 