html {
    padding: env(safe-area-inset);
}

header,
section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.wrapper {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.flexContainer {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.skipToMain {
    position: absolute;
    top: 0;
    left: -100%;
    background: $primary;
    color: $tertiary;
    padding: 10px;
    transition-duration: 0.2s;
    transition-property: all;
    z-index: 30;
}

.skipToMain:focus-within {
    left: 0;
}

.scrollContainer {
    overflow-x: hidden;
}

.scrollContainer {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}