footer {
    background-color: black;
    padding: 20px 0;
    position: relative;
    z-index: 40;

    .flexContainer {
        justify-content: center;
        align-items: center;
    }
    
    p {
        text-align: center;
    }

    .heart {
        height: 35px;
        width: 35px;
        position: relative;
        bottom: -10px;
        filter: brightness(80%);
    }
}