.formSubmission {
    //nav 

    nav {
        position: absolute;
    }

    // main section

    .formSubmitted {
        background: linear-gradient(to top, #283E51, #0A2342);
        position: relative;
        height: 100vh;
        padding: 50px 0;

        .wrapper,
        .formContainer {
            height: 100%;
        }

        .flexContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .formContent {
            position: relative;
            z-index: 10;
            margin-bottom: 50px;

            h1 {
                margin-bottom: 70px;
            }

            h2 {
                color: $tertiary;
                text-transform: none;
                text-align: center;
            }

        }

        .moonImageContainer {
            position: absolute;
            top: 18%;
            left: 12%;
            height: 150px;
            width: 150px;

            img {
                height: 100%;
                width: 100%;
                display: block;
                filter: brightness(60%);
            }
        }

        .cloudImageContainer {
            position: absolute;
            top: 20%;
            left: 15%;
            height: 100px;
            width: 250px;

            img {
                height: 100%;
                width: 100%;
                display: block;
                object-fit: cover;
                filter: brightness(60%);
            }
        }

        .cloudImageContainerTwo {
            position: absolute;
            bottom: 45%;
            right: 15%;
            height: 90px;
            width: 210px;

            img {
                height: 100%;
                width: 100%;
                display: block;
                object-fit: cover;
                transform: scaleX(-1);
                filter: brightness(60%);
            }
        }

        .skylineBackground {
            width: 100%;
            height: 350px;
            background-size: contain;
            position: absolute;
            bottom: 0;
            background-image: url("../assets/nightskyThree.png");
            background-repeat: repeat-x;
            background-position: 0% 100%;
        }
    }

    p {
        width: 100%;
        margin-top: 20px;

        a {
            color: $aside;
            text-align: center;
            width: 100%;
            display: block;
        }
    }
}