header {
    background: linear-gradient(to top, #283E51, #0A2342);
    position: relative;

    .headerContainer.flexContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headerContent {
        position: relative;
        z-index: 10;
        padding-bottom: 250px;

        h1 {
            margin-bottom: 70px;
        }

        .arrowImageContainer{
            height: 50px;
            width: 50px;
            
            img {
                height: 100%;
                width: 100%;
            }
        }

        .arrowWidthContainer {
            width: 100%;
            display:flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
        }
    }

}

.arrowImageContainer {
    height: 100px;
    width: 100px;

    img {
        height: 100%;
        width: 100%;
        display: block;
    }
}

.moonImageContainer {
    position: absolute;
    top: 18%;
    left: 12%;
    height: 150px;
    width: 150px;
}

.headerTimeImage {
    height: 100%;
    width: 100%;
    display: block;
    filter: brightness(60%);
}

.cloudImageContainer{
    position: absolute;
    top: 20%;
    left: 15%;
    height: 100px;
    width: 250px;
}

.cloudImageContainerTwo {
    position: absolute;
    bottom: 45%;
    right: 15%;
    height: 90px;
    width: 210px;
}

.cloudOne,
.cloudTwo {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    filter: brightness(60%);
    transform: scaleX(-1);
}

.skylineBackground {
    width: 100%;
    height: 350px;
    background-size: contain;
    position: absolute;
    bottom: 0;
    background-image: url("../assets/nightskyThree.png");
    background-repeat: repeat-x;
    background-position: 0% 100%;
}

.shootingStarContainer {
    position: absolute;
    top: 0;

    img {
        width: 350px;
        filter: brightness(90%);
        transform: rotate(30deg);
    }
}

.timeIconContainer {
    position: absolute;
    z-index: 10;
    right: -15px;
    bottom: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    transform: rotate(90deg);

    img {
        height: 35px;
        width: 35px;
    }

    .moonIcon {
        transform: rotate(270deg);

        &:hover {
            transform: rotate(270deg) scale(1.2);
        }
    }

    .sunIcon:hover {
        transform: scale(1.2);
    }

}

// changeToMorning Styles
.headerBackgroundMorning {
    background-image: url('../assets/morningSky.png');
    filter: brightness(50%);
    height: 240px;
}

.headerMorning {
    background: linear-gradient(to top, #ae6063, #e4a89b);
}

.headerTimeImageMorning {
    filter: brightness(90%);
}

.cloudOneMorning {
    filter: brightness(80%);
}

.cloudTwoMorning {
    filter: brightness(80%);
}


// changeToNight styles

.headerBackgroundNight {
    background-image: url('../assets/nightskyThree.png');
    height: 350px;
    filter: brightness(100%);
}

.headerNight {
    background: linear-gradient(to top, #283E51, #0A2342);
}

.headerSkylineNight {
    filter: brightness(100%);
}

.headerTimeImageNight {
    filter: brightness(60%);
}

.cloudOneNight {
    filter: brightness(60%);
}

.cloudTwoNight {
    filter: brightness(60%);
}