@media (max-width: 940px) {

    //Overall
    .wrapper {
        width: 80%;
    }

    //Header Section

    .cloudImageContainer,
    .cloudImageContainerTwo {
        animation: cloudAnimation linear 300s;
    }

    //About Section

    .aboutSection {
        .flexContainer {
                flex-direction: column;
            }
        
            .aboutContent {
                margin-top: 55px;
                width: 60%;
                order: -1;
                display: flex;
            }

            .aboutText{
                width: 100%;
            }

        ul {
            flex-direction: column;

            li {
                margin: 10px 0;
            }
        }
    }

    // Projects Section

    .myProjects {
        .project {
            flex-direction: column;
            align-items: center;

            .projectInfo {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .projectImageContainer {
            width: 75%;
            order: -1;
            margin-bottom: 10px;
        }

        .projectInfo h3{
            display: none;
        }

        .alternateHeading {
            display: block;
            order: -2;
            margin-bottom: 15px;
            text-align: center;
        }
    }

    //Contact Section
    .contact {

        h2 {
            text-align: center;
        }

        .flexContainer {
                flex-direction: column;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .overallContactContainer {

            .contactInfo {
                margin: 0;
                width: 100%;
            }
        
            .formContainer {
                width: 100%;
            }
        }

        ul {
            margin: 15px 0 30px 0;
            justify-content: space-evenly;
        }
    }
}

@media (max-width: 768px) {

    //Header Section

    .cloudImageContainer,
    .cloudImageContainerTwo {
        animation: cloudAnimation linear 260s;
    }

    //About Section

    .aboutSection {

        .aboutContent {
                flex-direction: column;
                width: 70%;
        
            ul {
                flex-direction: row;
                justify-content: space-evenly;
            }
        }

        .fossilTwoContainer {
            top: 25%;
        }
    }

    //Project Section

    .myProjects {
        .projectImageContainer {
            width: 85%;
        }
    }

    //Skills Section

    .skillsSection {
        .skillsText p {
            text-align: center;
        }
    }
}

@media (max-width: 660px) {
    
    //Skills Section

    .skillsSection {

        .skillsIcons .skill {
                width: 50%;
                margin-bottom: 30px;

                .skillContainer {
                    width: 175px;
                }
        }
    }
}

@media (max-width: 480px) {

    //Overall 

    .wrapper {
        width: 90%;
    }
    
    //Nav {
    .logoContainer {
        p {
            font-size: 1rem;
            margin-left: 15px;
        }
    }

    //Header 

    header .headerContent {
        padding-bottom: 200px;

        .arrowImageContainer {
            margin: 10px auto 0px auto
        }
    }

    .cloudImageContainer,
    .cloudImageContainerTwo {
        animation: cloudAnimation linear 200s;
    }

    .timeIconContainer {
        justify-content: space-evenly;
        align-content: center;

        .sunIcon {
            margin-right: 10px;
        }
    }

    //About Section

    .aboutSection {
        .fossilTwoContainer {
                top: 20%;
                right: 0%;
        }
    }

    //Skills Section

    .skillsSection {
        .skillsIcons {
            justify-content: space-between;
            
            .skill {
                width: 45%;
                margin-bottom: 30px;
            
                .skillContainer {
                    width: 135px;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }

    //Contact Section
    .contact {

        .overallContactContainer .contactInfo {
            text-align: center;
        }
    }
}

@media (prefers-reduced-motion) {
    .animation {
        animation-name: dissolve;
    }
}