nav {
    background-color: transparent;
    padding-top: 40px;
    width: 100%;
    z-index: 20;
    padding-bottom: 100px;

    .flexContainer {
        justify-content: space-between;
        align-items: center;
    }
}

.logoContainer {
    display: flex;
    align-items: center;

    p {
        margin-left: 20px;
    }

    .logoImageContainer {
        width: 50px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.hamburgerIconContainer {
    width: 50px;
    height: 50px;

    img {
        height: 100%;
        width: 100%;
        display: block;
    }
}