nav {
    background-color: transparent;
    padding-top: 40px;
    width: 100%;
    z-index: 20;
    padding-bottom: 100px;

    .flexContainer {
        justify-content: space-between;
        align-items: center;
    }
}

.logoContainer {
    display: flex;
    align-items: center;

    p {
        margin-left: 20px;
    }

    .logoImageContainer {
        width: 50px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.hamburgerIconContainer,
.exitIconContainer {
    width: 50px;
    height: 50px;

    img {
        height: 100%;
        width: 100%;
        display: block;
    }
}

.slideMenu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
    background-color: $senary;
    transition: opacity 0.2s;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
    }

    li {
        margin: 35px 0;

        a {
            position: relative;
            display: inline-block;
            color: $tertiary;
            overflow: hidden;
            background: linear-gradient(to right, $hover-text, $hover-text 50%, $tertiary 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position 275ms ease;
        }

        a:hover {
            background-position: 0 100%;
        }
    }

    .exitContent {
        position: absolute;
        right: 0;
        top: 5px;
    }
}