.myProjects {
    background:linear-gradient(to bottom, #1e1612, #1c1311);
    padding: 250px 0 125px 0;

    .project {
        width: 100%;
        margin-top: 100px;
        display: flex;
    }

    .projectInfo {
        width: 50%;
    }

    .projectImageContainer {
        width: 50%;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    ul {
        display: flex;
        
        li {
            margin: 0px 3px;
        }

        i {
            font-size: 1.8rem;
        }
    }
}