.myProjects {
    background:linear-gradient(to bottom, #1e1612, #1c1311);
    padding-bottom: 125px;

    h3 {
        white-space: nowrap;
    }

    .flexContainer {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 100%;
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }

    .projectInfo {
        width: 45%;
    }

    .projectImageContainer {
        width: 50%;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .projectHeadingContainer {
        width: 80%;

        p {
            margin-top: 25px;
        }

        h2 {
            text-align: center;
        }
    }

    .projectTools ul {
        margin: 15px 0px;
    }

    ul {
        display: flex;
        
        li {
            margin: 0px 3px;
        }

        i {
            font-size: 1.8rem;
        }
    }

    h4 {
        margin: 25px 0 10px 0;
    }

    .projectTextContainer p {
        margin: 25px 0;
    }

    .siteLinks {
        text-decoration: underline;
    }
}

//changeToMorningHeader

.myProjectsMorning{
    background: linear-gradient(to bottom, #1c1311, #1b1211);
}


//changeToNightHeader

.myProjectsNight {
    background: linear-gradient(to bottom, #1e1612, #1A1211);
}
