.skillsSection {
    background: linear-gradient(to bottom, #1C1311, #130B18);
    padding: 0 0 100px 0;
    
    .skillsText {
        display:flex;
        flex-direction: column;
        align-items: center;

        p {
            text-transform: capitalize;
            margin: 35px 0 45px 0;
        }
    }
}

.skillsIcons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .skill {
        display: flex;
        justify-content: center;
        width: calc(100% / 3);
        margin-bottom: 15px;

        .skillContainer {
            background-color: $paragraph-color;
            width: 150px;
            border: 3px solid $senary;
            border-radius: 10px;
            padding: 25px 0;
        }

        i {
            font-size: 2.5rem;
            color: $senary;
            width: 100%;
            display: block;
            text-align: center;
        }

        p {
            text-align: center;
            color: $senary;
        }
    }
}

.upButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 30;
    opacity: 80%;

    img {
        height: 75px;
        width: 75px;
    }
}
// changeToMorningHeader styles

.skillsSectionMorning{
    background: linear-gradient(to top, #181818, #1B1211);
}

//changeToNightHeader styles

.skillsSectionNight {
    background: linear-gradient(to bottom, #1A1211, #130B18);
}