//Overall Typography
html {
    font-size: 125%;
}

body {
    font-family: 'Pixeloid Sans';
    color: $tertiary;
}

h1,
h2,
h3 {
    font-family: $primary-font;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    line-height: 40px;
}

h2 {
    font-size: 1.2rem;
    text-transform: capitalize;
    line-height: 35px;
    color: $quinary;
}

h3 {
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 35px;
}

h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: $secondary-font;
}

p {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    color: $tertiary;
}

button {
    font-family: $primary-font;
}

//Navigation Typography

nav {
    li {
        text-transform: capitalize;
        font-size: 1.8rem;
        margin: auto 0;
        display: flex;
    }

    .logo {
        font-size: 1.5rem;
        font-family: $primary-font;
    }
}

.slideMenu a {
    font-family: $primary-font;
    font-size: 1.3rem;
}

//Header-specific Typography

header {
    h2 {
        text-align: center;
        text-transform: uppercase;
        color: $tertiary;
        font-size: 1.1rem;
    }
}

//About-specific Typography

.promo {
    color: $aside;
}

//Contact-specific Typography

input::placeholder,
textarea::placeholder {
    font-family: $secondary-font;
    font-size: 1.2rem;
}

//Project-specific Typography

.projectSource {
    color: $aside;
    letter-spacing: 0px;
}