//Overall Typography
html {
    font-size: 125%;
}

body {
    font-family: $secondary-font;
    color: $tertiary;
}

h1,
h2,
h3 {
    font-family: $primary-font;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    font-size: 1.3rem;
    text-transform: capitalize;
    color: $quinary;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1.3rem;
}

//Navigation Typography

nav {
    li {
        text-transform: capitalize;
        font-size: 1.8rem;
        margin: auto 0;
        display: flex;
    }

    .logo {
        font-size: 1.5rem;
        font-family: $primary-font;
    }
}

//Header Typography

header {
    h2 {
        text-align: center;
        text-transform: uppercase;
        color: $tertiary;
        font-size: 1.1rem;
    }
}