//FONTS
$primary-font: 'Press Start 2P', cursive;
$secondary-font: 'VT323', monospace;

//COLORS
$primary: #232946;
$secondary: #403976;
$tertiary: #fffffe;
$quaternary: #2a1f7a;
$quinary: #b8c1ec;
$senary: #4341b5;