@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.skipToMain {
  position: absolute;
  top: 0;
  left: -100%;
  background: #232946;
  color: #fffffe;
  padding: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
  z-index: 30;
}

.skipToMain:focus-within {
  left: 0;
}

html {
  font-size: 125%;
}

body {
  font-family: "VT323", monospace;
  color: #fffffe;
}

h1,
h2,
h3 {
  font-family: "Press Start 2P", cursive;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  line-height: 40px;
}

h2 {
  font-size: 1.3rem;
  text-transform: capitalize;
  line-height: 35px;
  color: #7472EC;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #fffffe;
}

button {
  font-family: "Press Start 2P", cursive;
}

nav li {
  text-transform: capitalize;
  font-size: 1.8rem;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .logo {
  font-size: 1.5rem;
  font-family: "Press Start 2P", cursive;
}

header h2 {
  text-align: center;
  text-transform: uppercase;
  color: #fffffe;
  font-size: 1.1rem;
}

.promo {
  color: #B7B7B7;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "VT323", monospace;
  font-size: 1.2rem;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "VT323", monospace;
  font-size: 1.2rem;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "VT323", monospace;
  font-size: 1.2rem;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "VT323", monospace;
  font-size: 1.2rem;
}

input::placeholder,
textarea::placeholder {
  font-family: "VT323", monospace;
  font-size: 1.2rem;
}

body {
  -webkit-animation: fadeInAnimation ease 2s;
          animation: fadeInAnimation ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
nav {
  background-color: transparent;
  padding-top: 40px;
  width: 100%;
  z-index: 20;
  padding-bottom: 100px;
}
nav .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li:nth-child(-n+3) {
  margin: 0 20px;
}
nav ul li:nth-child(3) {
  margin-right: 40px;
}

.logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logoContainer p {
  margin-left: 20px;
}
.logoContainer .logoImageContainer {
  width: 50px;
  height: 50px;
}
.logoContainer .logoImageContainer img {
  width: 100%;
  height: 100%;
  display: block;
}

.hamburgerIconContainer {
  width: 50px;
  height: 50px;
}
.hamburgerIconContainer img {
  height: 100%;
  width: 100%;
  display: block;
}

header {
  background: -webkit-gradient(linear, left bottom, left top, from(#283E51), to(#0A2342));
  background: linear-gradient(to top, #283E51, #0A2342);
  position: relative;
}
header .headerContainer.flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headerContent {
  position: relative;
  z-index: 10;
  padding-bottom: 250px;
}
header .headerContent h1 {
  margin-bottom: 70px;
}
header .headerContent .arrowImageContainer {
  margin: 40px auto 0px auto;
  height: 50px;
  width: 50px;
}
header .headerContent .arrowImageContainer img {
  height: 100%;
  width: 100%;
}

.arrowImageContainer {
  height: 100px;
  width: 100px;
}
.arrowImageContainer img {
  height: 100%;
  width: 100%;
  display: block;
}

.moonImageContainer {
  position: absolute;
  top: 18%;
  left: 12%;
  height: 150px;
  width: 150px;
}
.moonImageContainer img {
  height: 100%;
  width: 100%;
  display: block;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.cloudImageContainer {
  position: absolute;
  top: 20%;
  left: 15%;
  height: 100px;
  width: 250px;
}
.cloudImageContainer img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.cloudImageContainerTwo {
  position: absolute;
  bottom: 45%;
  right: 15%;
  height: 90px;
  width: 210px;
}
.cloudImageContainerTwo img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.skylineBackground {
  width: 100%;
  height: 350px;
  background-size: contain;
  position: absolute;
  bottom: 0;
  background-image: url("../assets/nightskyThree.png");
  background-repeat: repeat-x;
  background-position: 0% 100%;
}

.aboutMe {
  background: -webkit-gradient(linear, left top, left bottom, from(#181818), to(#1e1612));
  background: linear-gradient(to bottom, #181818, #1e1612);
  position: relative;
  padding: 125px 0 50px 0;
}
.aboutMe .aboutOverallContainer {
  position: relative;
  z-index: 10;
}
.aboutMe .wrapper,
.aboutMe .flexContainer {
  height: 100%;
}
.aboutMe .flexContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutMe .aboutText {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutMe .aboutText .aboutParagraphFirst {
  margin: 55px 0px 25px 0;
}
.aboutMe .aboutContainer {
  width: calc(100% - 20px);
}
.aboutMe .aboutContent {
  width: 40%;
}
.aboutMe .promo {
  margin-top: 20px;
}
.aboutMe .selfieContainer {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutMe .selfieContainer img {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  border: 5px double #3E3CAF;
}
.aboutMe ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}
.aboutMe ul .clearButton {
  width: 55px;
  height: 55px;
  display: block;
  margin: 0 10px;
  position: relative;
}
.aboutMe ul .clearButton img {
  height: 100%;
  width: 100%;
  display: block;
}
.aboutMe ul .clearButton i {
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
.aboutMe .fossilOneContainer {
  position: absolute;
  top: 20%;
  left: 2%;
  height: 70px;
  width: 70px;
}
.aboutMe .fossilOneContainer img {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}
.aboutMe .fossilTwoContainer {
  position: absolute;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  top: 40%;
  right: 2%;
  height: 70px;
  width: 70px;
}
.aboutMe .fossilTwoContainer img {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.myProjects {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e1612), to(#291B17));
  background: linear-gradient(to bottom, #1e1612, #291B17);
  padding: 250px 0 125px 0;
  background-repeat: repeat-x;
  background-size: contain;
  position: relative;
}
.myProjects p {
  text-transform: capitalize;
}
.myProjects .projectsGround {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  position: absolute;
  bottom: 0;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  height: 200px;
  width: 100%;
}
.myProjects .projectsGround img {
  width: 100%;
  height: 400px;
}
.myProjects .projectText {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.myProjects .projectText p {
  margin: 35px 0 25px 0;
}
.myProjects .projectInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.myProjects .projectInfo .rotateMockup {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.myProjects .mockupOneThird {
  width: 33%;
  height: 400px;
}
.myProjects .mockupTwoThird {
  width: 65%;
}
.myProjects .mockupFull {
  width: 100%;
}
.myProjects .mockupContainer {
  border-radius: 10px;
  background-color: #D7D7F2;
  height: 300px;
  margin-bottom: 20px;
  border: 3px solid #3E3CAF;
}
.myProjects .mockupContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.torchFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}
.torchFlex .torch {
  height: 50px;
  width: 50px;
}
.torchFlex .torch img {
  height: 100%;
  width: 100%;
}

.skillsSection {
  background: -webkit-gradient(linear, left top, left bottom, from(#2A1C16), to(#100816));
  background: linear-gradient(to bottom, #2A1C16, #100816);
  padding: 100px 0 100px 0;
}
.skillsSection .skillsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skillsSection .skillsText p {
  text-transform: capitalize;
  margin: 35px 0;
}
.skillsSection .skillsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skillsSection .skillsIcons .skill {
  width: 150px;
  margin: 0px 25px 25px 15px;
  border: 3px solid #3E3CAF;
  background-color: #D7D7F2;
  border-radius: 10px;
  padding: 25px 0;
}
.skillsSection .skillsIcons .skill i {
  font-size: 2.5rem;
  color: #3E3CAF;
  width: 100%;
  display: block;
  text-align: center;
}
.skillsSection .skillsIcons .skill p {
  text-align: center;
  color: #3E3CAF;
}

.contact {
  position: relative;
  padding-bottom: 175px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ae6063), to(#e4a89b));
  background: linear-gradient(to bottom, #ae6063, #e4a89b);
}
.contact h2 {
  margin-bottom: 55px;
  color: #3E3CAF;
}
.contact .contactInfo p {
  margin-bottom: 25px;
}
.contact textarea {
  resize: none;
}
.contact .overallContactContainer {
  width: calc(100% - 60px);
}
.contact .overallContactContainer .contactInfo {
  width: 60%;
}
.contact .overallContactContainer .formContainer {
  width: 40%;
  margin-left: 60px;
}
.contact .calendly {
  border-bottom: 2px solid white;
}
.contact button {
  position: relative;
  margin-top: 20px;
}
.contact button p {
  position: absolute;
  font-size: 1rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.contact button img {
  height: 75px;
}
.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 45px 0 15px 0;
}
.contact ul .clearButton {
  width: 55px;
  height: 55px;
  display: block;
  margin-right: 20px;
  position: relative;
}
.contact ul .clearButton img {
  height: 100%;
  width: 100%;
  display: block;
}
.contact ul .clearButton i {
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
.contact textarea,
.contact input {
  border: none;
  margin: 15px 0;
  border-radius: 5px;
  border: 2.5px solid #3E3CAF;
  width: 100%;
  background-color: #fffffe;
  padding: 15px 0px 15px 15px;
}
.contact .skylineBackgroundTwo {
  background: url("../assets/morningSky.png");
  height: 350px;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  margin-bottom: 75px;
}
.contact .sunContainer {
  position: absolute;
  height: 150px;
  width: 150px;
  bottom: 35px;
  left: 35%;
}
.contact .sunContainer img {
  height: 100%;
  width: 100%;
}

footer {
  background-color: black;
  padding: 20px 0;
}
footer p {
  text-align: center;
}
footer img {
  height: 35px;
  width: 35px;
  position: relative;
  bottom: -10px;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}